<p>addproduct works!</p>
<form #f="ngForm">
    <label>title</label>
    <input type="text" name="title" ngModel required  minlength="3"  #t="ngModel">
    <div *ngIf="t.invalid && t.touched">
        <div *ngIf="t.errors?.['required']">
            required
        </div>
        <div *ngIf="t.errors?.['minlength']">
            minlength
        </div>
    </div>
    <label>price</label>
    <input type="text" name="price" ngModel>
    <label>quantity</label>
    <input type="text" name="quantity" ngModel>
    <label>like</label>
    <input type="number" name="like" ngModel>
    <input type="submit" value="save" (click)="save(f.value)">
</form>